*{
 box-sizing: border-box;
}

.column{
  float: left;
  padding: 10px;
  height: 500px;
}

.left{
  width: 25%;
  background-color: #c5c9e8;
}
.right{
  width: 75%;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: auto;
  text-align: center;
}
.sport{
  color: gray;
  font-size: 18px;
}
#msgbtn{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
a{
  text-decoration: none;
  font-size: 22px;
  color: black;
}
button:hover, a:hover{
  opacity: 0.7;
}


/* the slide show for the images */
.container{
  position: relative;

}
.myslides{
  display: none;
}

.cursor{
  cursor: pointer;
}

.previous, .next{
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container{
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.rowImg:after{
  content: "";
  display: table;
  clear: both;
}

.columnImg{
  float: left;
  width: 16.66%;
}

.demo{
  opacity: 0.6;
}

.active, .demo:hover{
  opacity: 1;
}
