*{
 box-sizing: border-box;
}

.column{
  float: left;
  padding: 10px;
  height: 500px;
}

.left{
  width: 25%;
  padding-top: 35px;
  /*background-color: #c5c9e8;*/
}
.right{
  width: 73%;
  background-color: rgba(0,0,0,0.5);
  box-shadow: #201c1c;
  margin-top: 0;
  margin-right: 2px;
}

.row1:after{
  content: "";
  display: table;
  clear: both;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 360px;
  max-height: 650px;
  margin: auto;
  text-align: center;
  position: sticky;
  background-color: black;
}
.sport{
  color: #727271;
  font-size: 18px;
}
#msgbtn{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #ef6817;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
a{
  text-decoration: none;
  font-size: 22px;
  color: black;

}
.card button:hover, .card a:hover{
  opacity: 0.7;
}


/* the slide show for the images */
.slideshow-container{
  max-width: 540px;
  position: relative;
  padding-top: 100px;
  margin:40px auto;
}
.slider-inner{
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 3px;
  border: #666 solid 1px;
}
.slider-inner img{
  display: none;
  width: 500px;
  height: 300px;
}
.slider-inner img.active{
  display: inline-block;
}
/*hiding the img by default*/
.mySlides{
  display: none;
}
/*next and prev buttons*/
.prev, .next{
  cursor: pointer;
  position: relative;
  margin-top: 140px;
  float: left;
  /*top: 50%;
  width:auto;
  margin-top: 130px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;*/
}
/*position of the next button*/
.next{
  position: relative;
  margin-left: 2px;
  z-index: 100;
  /*right: 0;
  border-radius: 3px 0 0 3px;*/
}
.prev{
  position: relative;
  margin-left: -25px;
  z-index: 100;
}
/*on hover add a black background color with a little bit see-through*/
.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.8);
}
/*caption text*/
.text{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/*number text*/
.numbertext{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/*the dots below img*/
.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover{
  background-color: #717171;
}
/*fading anim*/
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from{opacity: .4}
  to{opacity: 1}
}
@keyframes fade {
  from{opacity: .4}
  to{opacity: 1}
}


